<div class="quiz">
  <h2>Quiz - {{ category }}</h2>
  <form (ngSubmit)="submitQuiz()">
    <div>
      <label>{{ questions[0].question }}</label>
      <div>
        <input type="radio" name="q0" (click)="selectAnswer(0, 'Paris')" /> Paris
        <input type="radio" name="q0" (click)="selectAnswer(0, 'Londres')" /> Londres
        <input type="radio" name="q0" (click)="selectAnswer(0, 'Madrid')" /> Madrid
      </div>
    </div>

    <div>
      <label>{{ questions[1].question }}</label>
      <div>
        <input type="radio" name="q1" (click)="selectAnswer(1, '4')" /> 4
        <input type="radio" name="q1" (click)="selectAnswer(1, '5')" /> 5
        <input type="radio" name="q1" (click)="selectAnswer(1, '7')" /> 7
      </div>
    </div>

    <button type="submit">Soumettre</button>
  </form>
</div>
