/* Styles pour la page de connexion */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 48%;
  padding: 10px;
  margin: 10px 1%;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button[type='submit'] {
  background-color: #4caf50;
}

button[type='button'] {
  background-color: #2196f3;
}

/* Changer la couleur du bouton "S'inscrire" en rouge */
button.sinscrire-btn {
  background-color: #f44336;  /* Rouge */
  color: white;
}

/* Pour un bouton de déconnexion */
.logout-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
  