<div class="main-container">
  <!-- Menu -->
  <nav class="navbar">
    <ul>
      <li><a [routerLink]="'/login'">Se connecter</a></li>
      <li><a [routerLink]="'/categorie'">Catégories</a></li>
      <li><a [routerLink]="'/leaderboard'">Leaderboard</a></li>
    </ul>
  </nav>

  <!-- Contenu dynamique des pages -->
  <router-outlet></router-outlet>  <!-- Zone où le contenu spécifique aux routes sera affiché -->
</div>

<!-- Footer -->
<footer>
  <p>&copy; 2025 Quizify - Tous droits réservés</p>
  <ul>
    <li><a [routerLink]="'/privacy-policy'">Politique de confidentialité</a></li>
    <li><a [routerLink]="'/terms-of-service'">Conditions d'utilisation</a></li>
    <li><a [routerLink]="'/contact'">Contactez-nous</a></li>
  </ul>
</footer>
