/* Assurez-vous que le body et le html occupent toute la hauteur */
html, body {
    height: 100%; /* Permet à la page d'occuper toute la hauteur de l'écran */
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Conteneur principal (qui occupe tout l'espace disponible) */
  .main-container {
    flex: 1; /* Permet au contenu de remplir tout l'espace restant */
    padding: 20px;
    overflow: auto; /* Permet d'afficher correctement le contenu si nécessaire */
  }
  
  /* Style du Menu (Navigation) */
  .navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Style du Footer */
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;  /* Ceci fait en sorte que le footer soit toujours en bas */
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  /* Ajoutez un peu de style pour le contenu */
  .router-outlet {
    margin-top: 20px;
  }
  